@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;600;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
--Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

body{font-family: 'League Spartan', sans-serif;
    font-family: 'Lexend Deca', sans-serif;padding-top:30px;
    font-size: 15px;min-height: 100vh;display: flex;flex-direction:column;place-items: center;place-content: center;margin: 0px;background:var(--Very-light-gray-background-headings-buttons)}
h1{color:var(--Very-light-gray-background-headings-buttons)}
main{display: grid;grid-template-columns: repeat(3, 1fr);grid-template-rows: minmax(100px, auto);border-radius: 15px;}
main>div{width: 230px;padding: 60px 50px;}
main h2 {color: var(--Very-light-gray-background-headings-buttons);font-family: 'League Spartan', sans-serif;font-weight: 700;text-transform: uppercase;}
main p{color: var(--Transparent-white-paragraphs);    font-family: 'Lexend Deca', sans-serif;font-weight: 400;line-height: 27px;}
main>div .button{width: 120px;padding: 20px;text-align: center;border-radius: 30px;background: var(--Very-light-gray-background-headings-buttons);margin-top: 100px;transition: all .5s linear;border: 1px solid var(--Very-light-gray-background-headings-buttons)}
main div.Sedans{background: var(--Bright-orange);border-radius: 15px 0px 0px 15px;}
main div.Sedans .button{color: var(--Bright-orange);}
main div.SUVs{background: var(--Dark-cyan);}
main div.SUVs .button{color: var(--Dark-cyan);}
main div.Luxury{background: var(--Very-dark-cyan);border-radius: 0px 15px 15px 0px;}
main div.Luxury .button{color: var(--Very-dark-cyan);}
main>div .button:hover{background: transparent;cursor: pointer;color:var(--Very-light-gray-background-headings-buttons) }


footer{display: none;}
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }



  @media(max-width: 775px)
  {
    main{grid-template-columns: repeat(1, 1fr);grid-template-rows: minmax(300px, auto);border-radius: 15px;margin: 100px auto;}
    main>div{width: 250px;padding: 40px;}
    main p{font-size: 16px;}
main>div .button{width: 120px;margin-top: 50px}
main div.Sedans{border-radius: 15px 15px 0px 0px;}
main div.Luxury{border-radius: 0px 0px 15px 15px;}

}
@media(min-width: 775px) and (max-width: 990px)
{
    main>div{width: 170px;padding: 40px;}

}
